    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>姓名：杨蕊&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;特长：交互设计</p>
                <p>学校：天津商业大学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p>专业：信息管理与信息系统（计算机专业）</p>
    			<p><a href="attach/2016_YR_resume_zh.pdf">下载简历 &amp; 杨心心心</a></p>
                <p><a href="attach/about.pdf">作品展示 &amp; 临摹作品如有侵权请告知</a></p>
              </div>
        </div>
    </section>
